/* custom button */
.btn-pyta {
  color: #fff;
  background-color: #B23A48;
  border-color: #ccc;
}
.btn-pyta:focus,
.btn-pyta.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #B23A48;
}
.btn-pyta:hover {
  color: #333;
  background-color: #e0b0b5;
  border-color: #B23A48;
}
.btn-pyta:active,
.btn-pyta.active,
.open > .dropdown-toggle.btn-pyta {
  color: #333;
  background-color: #e0b0b5;
  border-color: #adadad;
}
.btn-pyta:active:hover,
.btn-pyta.active:hover,
.open > .dropdown-toggle.btn-pyta:hover,
.btn-pyta:active:focus,
.btn-pyta.active:focus,
.open > .dropdown-toggle.btn-pyta:focus,
.btn-pyta:active.focus,
.btn-pyta.active.focus,
.open > .dropdown-toggle.btn-pyta.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-pyta:active,
.btn-pyta.active,
.open > .dropdown-toggle.btn-pyta {
  background-image: none;
}
.btn-pyta.disabled:hover,
.btn-pyta[disabled]:hover,
fieldset[disabled] .btn-pyta:hover,
.btn-pyta.disabled:focus,
.btn-pyta[disabled]:focus,
fieldset[disabled] .btn-pyta:focus,
.btn-pyta.disabled.focus,
.btn-pyta[disabled].focus,
fieldset[disabled] .btn-pyta.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-pyta .badge {
  color: #fff;
  background-color: #333;
}

.center-img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

.left-p {
  text-align: left;
}

.title-row{
 text-align: center; 
}

.center-col{
 text-align: center; 
}

.panel-pyta{
  border-color: #B23A48;  
}

.panel-pyta > .panel-heading {
  color: #fff;
  background-color: #B23A48;
  border-color: #ddd;
}

}
.panel-pyta > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-pyta > .panel-heading .badge {
  color: #B23A48;
  background-color: #fff;
}
.panel-pyta > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.lettrine {
padding:5px; 
margin: 5px 10px 0px 0px; 
font-size:80px; 
line-height: 1em 
}

.stat-p{
font-size:35px; 
}